@use 'variables' as v;
.text-center{
    text-align: center;
}

.bg-primario{
    background-color: v.$primario;
}

.py-2{
    padding: 2rem 0;
}

.px-2{
    padding: 0 2rem;
}

.mb-5{
    margin-bottom: v.$separacion;
}

.w-25{
    width: 25%;
}

.w-70{
    width: 70%;
}

.w-5{
    width: 5%;
}

.w-10{
    width: 10%;
}

.centrar{
    display: block;
    margin: 0 auto;
}

.btn{
    padding: 1rem 10rem;
    border: none;
    background-color: v.$primario;
    color: v.$blanco;
    border-radius: 20px;
    margin: 5rem 0;
}

.btn-center{
    display: flex;
    justify-content: center;
    align-items: center;
}


.flexbox{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: v.$separacion;
}

.sinborde{
    border-bottom: 0;
}