@use 'variables' as v;
.text-center{
    text-align: center;
}

.bg-primario{
    background-color: v.$primario;
}

.py-2{
    padding: 2rem 0;
}

.px-2{
    padding: 0 2rem;
}

.w-25{
    width: 25%;
}

.w-5{
    width: 5%;
}