@use '../base/variables' as v;
@use '../base/mixins' as m;

.header__grid{
    display: flex;
    padding: 1rem 2rem;
    justify-content: space-between;
    align-items: center;
    background-color: v.$blanco;
}

.header__enlaces{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.header__enlace{
    display: none;
    color: v.$primario;
    font-weight: 700;
    
    @include m.tablet{
        display: flex;
    }

    &:hover{
        color: v.$secundario;
    }
}

.header__enlace--btn{
    color: v.$blanco;
    background-color: v.$primario;
    padding: 1rem 3rem;
    border-radius: 2rem;

    &:hover{
        background-color: v.$secundario;
        color: v.$blanco;
    }
}

.header__enlace--dots{
    display: block;
    background-color: v.$primario;
    color: v.$blanco;
    border-radius: 50%;
    padding: 1.5rem;
    font-size: 2.5rem;

    @include m.tablet{
        display: none;
    }
}

.body-autenticacion{
    background-color: v.$grisClaro; 
}

.inicio,
.cregistro,
.registro,
.recucontra,
.nuevacontra{
    margin-top: 1rem;
    padding-top: 2rem;
    height: 100%;
}

.inicio__contenedor,
.registro__contenedor,
.cregistro__contenedor,
.recucontra__contenedor,
.nuevacontra__contenedor{
    margin: 0 auto;
    background-color: v.$blanco;

    @include m.desktop{
        max-width: 60%;
    }
}


.nuevacontra__contenedor,
.recucontra__contenedor{
    @include m.tablet{
        max-width: 65%;
    }

    @include m.desktop{
        border-radius: 1rem;
        max-width: 35%;
    }
}

.registro__contenedor,
.cregistro__contenedor{
    @include m.tablet{
        max-width: 70%;
    }

    @include m.desktop{
        border-radius: 1rem;
        max-width: 40%;
    }
}

.inicio__contenedor{  
    @include m.tablet{
        max-width: 50%;
    }

    @include m.desktop{
        border-radius: 1rem;
        max-width: 28%;
    }
}

.inicio__titulo,
.registro__titulo,
.cregistro__titulo,
.recucontra__titulo,
.nuevacontra__titulo{
    color: lighten(v.$primario, 12%);
    font-size: 2.5rem;
    text-align: center;
    padding-top: 1rem;
    margin-bottom: 1rem;
}

.inicio__line,
.registro__line,
.cregistro__line,
.recucontra__line,
.nuevacontra__line{
    width: 90%;
    border: 0.12rem solid lighten(v.$primario, 12%);
}

.form-inicio,
.form-registro,
.form-cregistro,
.form-recucontra,
.form-nuevacontra{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;

    @include m.desktop{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
        gap: 1rem;
        width: 85%;
        margin-inline: auto;
    }

}

.form-recucontra,
.form-nuevacontra{
    @include m.desktop{
        gap: 0;
    }
}

.form-inicio__inputs,
.form-registro__inputs,
.form-cregistro__inputs,
.form-recucontra__inputs,
.form-nuevacontra__inputs{
    display: flex;
    align-items: center;
    margin-bottom: 2rem;

    @include m.desktop{
        flex-direction: column;
        align-items: center;

        &:nth-child(3){
            grid-column: 1 / 3;
            align-items: flex-start;
        }

        &:nth-child(4){
            grid-row: 3 / 4;
        }
    }
}

.form-inicio__input,
.form-registro__input,
.form-cregistro__input,
.form-recucontra__input,
.form-nuevacontra__input{
    background-color: v.$inputColor;
    border: 0;
    padding: 0.5rem 2rem;
    border-radius: 2rem;
    color: v.$negro;

    &:focus{
        border: 0;
        outline: none;
    }

    @include m.desktop{
        width: 100%;
    }
}

.form-inicio__label,
.form-registro__label,   
.form-cregistro__label,
.form-recucontra__label,
.form-nuevacontra__label{
    width: 15rem;
    font-weight: bold;

    @include m.desktop{
        width: 100%;
        margin-bottom: 1rem;
    }
}

.form-inicio__radios,
.form-registro__radios,
.form-cregistro__radios,
.form-recucontra__radios,
.form-nuevacontra__radios{
    margin: 2rem 0;
    display: flex;
    align-items: center;

    @include m.desktop{
        grid-column: 1 / 3;
        grid-row: 4 / 5;
        justify-content: flex-start;
    }
}

.form-inicio__radio,
.form-registro__radio,
.form-cregistro__radio{
    margin-right: 1rem;
    border: 1px solid v.$primario;
    background-color: v.$inputColor;
}

.form-inicio__terminos,
.form-registro__terminos,
.form-cregistro__terminos{
    color: v.$primario;

    &:hover{
        color: v.$secundario;
    }
}

.form-inicio__btns,
.form-registro__btns,
.form-cregistro__btns,
.form-recucontra__btns,
.form-nuevacontra__btns{
    margin: 3rem 0;
    display: flex;

    @include m.desktop{
        grid-row: 5 / 6;
        grid-column: 1 / 3;
        justify-content: center;
    }
}

.form-inicio__btn,
.form-registro__btn,
.form-cregistro__btn,
.form-recucontra__btn,
.form-nuevacontra__btn,
.seccion-registro__enlace{
    all: unset;
    color: v.$blanco;
    background-color: v.$primario;
    padding: 0.5rem 4rem;
    border-radius: 2rem;
    cursor: pointer;

    &:hover{
        background-color: v.$secundario;
    }
}

.site__footer--register{
    position: absolute;
    width: 100%;
    bottom: 0;
}