:root{
    --grisClaro: #eceeef;
    --blanco: #ffffff;
    --primario: #40C2D6;
    --secundario: #04DBFC;
    --negro: #000000;
    --blanco: #FFFFFF;
    --blancoOscuro: #f1f1f1;
    --grisOscuro: #d3d3d3;
    --grisClaro: #eceeef;
    --grisClaro2: #fbfbfb;
    --verdeAuxiliar: #009A22;
    --inputColor: #DFE8F5;
}

.contenedor{
    max-width: 90%;
    margin: 0 auto;
}

.subir-evid{
    background-color: var(--blanco);
    padding: 1rem;
    border-radius: 1rem;
}

h1.subir-evid__title{
    color: var(--primario);
    font-size: 2rem;
    padding: 1rem 0 0 2rem;
    margin-bottom: 2rem;
}

@media (min-width: 768px) { 
    h1.subir-evid__title{
        padding: 1rem 0 0 2rem;
    }
}

.subir-evid__line{
    border-color: var(--primario);
    margin: 0;
    padding: 0;
}

.subir-evid__text{
    font-size: 1.6rem;
}

.subir-evid__text--act{
    color: var(--primario);
    font-weight: bold;
}

.evidencias__main{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    margin-bottom: 1rem;

}
@media (min-width: 768px) { 
    .evidencias__main{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    }
}


.evidencias__text{
    font-size: 1.6rem;
}

.evidencias__btn {
    color: var(--negro);
    width: 40rem;
    border-radius: 2rem;
    background-color: var(--blanco);
    padding: 0rem 0rem;
}
.evidencias__btn::-webkit-file-upload-button {
    position: relative;
    content: 'Subir Archivo';
    color: var(--blanco);
    display: inline-block;
    background: var(--primario);
    border:none;
    border-radius: 2rem;
    outline: none;
    /*-webkit-user-select: none;*/
    cursor: pointer;
    font-weight: bold;
    font-size: 11pt;
    padding: 1rem 2rem;
}

.evidencias__btn:hover::before {
    border-color: black;
}

.evidencias__btn:active {
    outline: 0;
}


.evidencias__container{
    background-color: var(--grisClaro);
    height: 20rem;
    width: 100%;
}

.autorizacion__text{
    font-size: 1.6rem;
}

.autorizacion__radios{
    display: flex;
    gap: 2rem;
    align-items: center;
}
.subir-evid__btns{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

.subir-evid__btn{
    border: none;
    background-color: var(--primario);
    padding: 0.8rem;
    color: var(--blanco);
    border-radius: 2rem;
    text-align: center;
}

.subir-evid__btn:focus{
    outline: none;
}


.subir-evid__actions{
    margin-top: 15rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5rem;
}

@media (min-width: 480px) { 
    .subir-evid__actions{
        grid-template-columns: repeat(3, 1fr);
    }
}

.subir-evid__action{
    all: unset;
    color: var(--blanco);
    text-align: center;
    background-color: var(--primario);
    border-radius: 2rem;
    padding: 1rem;
    cursor: pointer;
}

.subir-evid__action:hover{
    background-color: var(--secundario);
}




