@use '../base/variables' as v;
@use '../base/mixins' as m;

.main__contenedor{
    display: flex;
    flex-direction: column;

    @include m.tablet{
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
    }

    .main__aside{
        padding: 2rem;
        border-right: 0.1rem solid v.$grisClaro;
    }    
}

.main__profile{
    display: flex;
    justify-content: space-evenly;

    & .profile__image--round{
        max-width: 50px;
    }

    .profile__text{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .profile__text p{
        margin: 0;
    }

    .text__name{
        font-size: 2.1rem;
        font-weight: bold;
    }

    .text__pro{
        font-size: 1.5rem;
        font-weight: lighter;
    }
}

// Aside Nav

.main__nav{
    margin-top: 2rem;
    padding: 0.1rem 2rem;

    .nav__aside a, .dropdown-btn {
        padding: 0.5rem 0.6rem;
        text-decoration: none;
        font-size: 20px;
        color: v.$primario;
        display: flex;
        justify-content: left;
        padding-left: 5rem;
        align-items: center;
        border: 0.25rem solid v.$primario;
        
        width:100%;
        text-align: left;
        cursor: pointer;
    }

    .dropdown-btn{
        background-color: v.$primario;
        color: v.$blanco;
        border-radius: 0.25rem;

        &:hover{
            background-color: v.$blanco;
            color: v.$primario;
        }
    }

    .dropdown-btn i{
        margin-right: 1rem;
    }

    .nav__aside a{
        border: none;
        border-left: 0.25rem solid v.$primario;
        border-right: 0.25rem solid v.$primario;
        border-radius: none;
        display: block;
        padding-left: v.$separacion;
        text-align: left;

        &:hover{
            background-color: v.$primario;
            color: v.$blanco;
        }

        &:last-child{
            border-bottom: 0.25rem solid v.$primario;
            border-radius: 0.25rem;
        }
    }

    .active {
        background-color: v.$blanco;
        color: v.$primario;
    }
    
    .dropdown-container {
        display: none;
        background-color: v.$blanco;
    }
    
    .fa-book {
        float: left;
        padding-left: 10px;
    }
}

.main__contenido{
    background-color: v.$grisClaro;
    .contain{
        max-width: 90%;
        margin: v.$separacion auto;
        background-color: v.$blanco;
        border-radius: 1rem;
    }

    .contain__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem;

        .btn__verde{
            background-color: v.$verdeAuxiliar;
            border-radius: unset;
            padding: 1.2rem 1.5rem;
            border-top-right-radius: 1rem;
        }

        .main__profile--pub{
            gap: 1rem;
        }
    }

    .contain__header--pub{
        border-bottom: 0.25rem solid v.$primario;
    }

    .contain__body img{
        max-width: 100%;
        margin: 0 auto;
    }

    .body__text{
        max-width: 90%;
        margin: 0 auto;
        line-height: 1.2;
        margin-bottom: 1rem;
        font-weight: lighter;
        padding-bottom: v.$separacion;
    }
}

.main__aside{
    padding: 2rem;  

    .aside__actions{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 100%;
    }

    .btn__actions{
        border-radius: 0;
        width: 100%;
        margin: 1rem auto;
        display: block;
        text-align: left;
        border-radius: 1rem;
        cursor: pointer;

        i{
            margin-right: 1rem;
            font-size: 2rem;
        }
    }

    
}

//Calender



.aside__calender{
    ol{
        list-style: none;
        padding: 0;
    }

    .calender__title{
        background-color: v.$primario;
        color: v.$blanco;
        text-transform: uppercase;
        padding: 0 3rem;
    }

    .calender__items{
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
    }

    .day{
        color: v.$primario;
    }

    .first-day{
        grid-column-start: 3;
    }
}

//Entradas

//Entrada Matematica 1

.header__name{
    color: v.$primario;
    font-weight: bold;
}

.header__subname{
    color: v.$grisOscuro;
    font-weight: lighter;
}

.body__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;

    .text__select{
        font-weight: bold;
    }

    .btn--action{
        padding: 1rem 3rem;
    }
}

.body__content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @include m.tablet{
        grid-template-columns: repeat(3, 1fr);
    }

    .item__photo--body{
        width: 25rem;
        border: 0.25rem solid v.$primario;
        border-radius: 1rem;
        cursor: pointer;
    }
}

.contain__body{

    .body__info{

        padding: v.$separacion;
        border-bottom: 0.25rem solid v.$primario;

        .body__switch{
            margin-bottom: v.$separacion;
        }

        .info__switch{
            margin-top: v.$separacion;
        }

        span{
            font-weight: bold;
        }
    
        .input__body{
            max-width: 85%;
            width: 50rem;
            padding: 0.5rem 3rem;
            border-radius: 2.5rem;
            background-color: v.$grisClaro;
        }

        .input__body--links{
            margin-top: 2rem;
            border: 0;
        }

        .input__body--time{
            width: 20rem;
            padding: 0.5rem 2rem;
        }
    }

    .info__title{
        margin: 4rem 0;
    }
    
    .body__info--act{
        padding: 1rem v.$separacion;
        border: 0;
    }

    .btn--agregar{
        display: block;
        margin: 0 auto;
        text-align: center;
        padding: 0.5rem 3rem;
        background-color: v.$primario;
    }
}

//Entrada Crear Actividad

.nav__breadcumb{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 2rem v.$separacion;

    .item__br{
        background-color: v.$primario;
        color: v.$blanco;
        padding: 0.5rem 3rem;
        text-align: center;
        border-radius: 1rem;

        &:nth-child(4){
            grid-column: 1 / 4;
            margin: 0;
        }
    }
}

//Editor

.editor__txt{
    display: block;
    margin: v.$separacion 0;
}

.editor__borde{
    border: 0.3rem solid v.$primario !important;
    border-radius: 1rem
}

.editor__box{
    max-width: 88.5rem;
    @include m.tablet{
        max-width: 100rem;
    }
}

.editor__txtarea{
    width: 100%;
    background-color: v.$grisClaro;
    border-radius: 1rem;
    height: 10rem;
    padding: 2rem;
}

.body__links{
    display: flex;
    justify-content: center;
    align-items: center;

    .links{
        display: flex;
        justify-content: center;
    }
}

.info__title{
    .btn__actividad{
        padding: 0.5rem 5rem;
        background-color: v.$primario;
        color: v.$blanco;
        border-radius: 2rem;
        cursor: pointer;

        &:hover{
            background-color: v.$blanco;
            color: v.$negro;
        }
    }
}

.buttons{
    display: flex;
    justify-content: space-between;

    .btn__actions{
        border: 0;
        background-color: v.$primario;
        color: v.$blanco;
        padding: 1rem 3rem;
        border-radius: 1rem;
        cursor: pointer;
    }
}

//Name Activity

.body__info{

    .body__radios{
        margin: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    .body__radios--start{
        justify-content: flex-start;
    }

    .body__activities{
        background-color: v.$grisClaro;
        border-radius: 1rem;
        padding: 2rem;
        margin-bottom: v.$separacion;
    }
}

// Config Final

.body__time{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    margin: v.$separacion;

    .time__inputs{
        margin-bottom: 2rem;
    }

    .text__time{
        display: inline-block;
        width: 15rem;
    }

    input[type="time"],
    input[type="date"]{
        width: 20rem;
    }
}


  
