@use '../base/variables' as v;
@use '../base/mixins' as m;

.nav__principal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 2rem 0rem;
    z-index: 2;

    @include m.tablet{
        padding: 2rem 3rem;
        flex-direction: row;
    }   

    @include m.desktop{
        flex-direction: row;
        padding: 2rem 10rem;
        margin-bottom: 1rem;
    }

    .logo{
        max-width: 100%;
    }


    i{
        font-size: 1.51rem;
        background-color: v.$primario;
        color: v.$blanco;
        margin-right: 0.5rem;
        padding: 0.8rem;
        border-radius: 50%;

        @include m.tablet{
            font-size: 1.7rem;
        }

        @include m.desktop{
            font-size: 2rem;
            padding: 1.3rem;
        }

        &:hover{
            background-color: v.$secundario;
        }
    }
}

