@use '../base/variables' as v;
@use '../base/mixins' as m;

.sidenav {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: v.$blancoOscuro;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;

    a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;

        &:hover{
            color: v.$grisClaro;
        }
    }

    .tablinks{
        border: none;
        color: v.$primario;
        text-align: left;
        padding: 2rem 5rem;

        i{
            margin-right: 1rem;
        }

        &:hover{
            background-color: v.$primario;
            color: v.$blancoOscuro;
        }
    }
}

  
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
  

@include m.telefono{
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
